/* Define Roboto Regular */
@font-face {
  font-family: 'Roboto Slab';
  src: url('./Assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal; /* Specify available styles */
}
:root {
  --primary-color: #FF8527; 
  --secondary-color: #fff;
  --light-color:#948f8f;
  --warning-color: #000;
  --font:"Roboto Slab", serif;
  --page-bg:#fffdf8;
  --primary-glace:#fcc79e;
  --border-btm-clr:#e9e9e9;
}