.header-con {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    gap: 10px;
    height: 42px;
    align-items: center;
}
.back-btn {
    width: 9%;
}
.header-title {
    text-align: center;
    width: 80%;
    font-size: 21px;
    font-family: var(--font);
    color: var(--heading);
    font-weight: bold;
}
svg.backbtn-ic {
    font-size: 30px;
    /* margin-top: 6px; */
}
