button.simple-button {
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid #FF8527;
    background: #FF8527;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: var(--font);
}
.sticky-button-right-con {
    position: fixed;
    bottom: 18%;
    right: 6%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 9px;
    background: var(--light-glace);
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 4px 7px 4px var(--light-glace);
}
svg.sticky-btn-icon {
    color: var(--primary-color);
    font-size: 35px;
}
.sticky-btn-text {
    color: var(--primary-color);
    font-family: var(--font);
    font-weight: bold;
    font-size: 19px;
}